<p id="notice"><%= notice %></p>

<div class="container">
  <h1 id="mainview">VISTA GENERAL - COLECCIONES
    <%= link_to '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe, new_collection_path %>
  </h1>
</div>

<div class="container">
  <table id = "collections" class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>ID</th>
      <th>Almacén</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Total de Obras</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @collections.each do |collection| %>
        <tr>
          <td><%= collection.id %></td>
          <td><%= collection.warehouse %></td>
          <td><%= collection.name %></td>
          <td><%= collection.description %></td>
          <td><%= Work.where(collection: collection.name).count %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, collection%>

            <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_collection_path(collection) %>

            <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, collection, method: :delete, data: { confirm: '¿Desea eliminar la colección?' }  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
    $( document).ready(function() {
        $('#collections').DataTable();
    } );
</script>
