<div class="container">
  <div class="text-left">
    <h1 id="mainview"><%= @collection.name %>
    </h1>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-lg-6">
            <div class="col-md-4">
              <div class="show-title">Almacén:</div>
            </div>
            <div class="col-md-8">
              <div class="show-content"><%= @collection.warehouse%></div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="col-md-4">
              <div class="show-title">Total de Obras:</div>
            </div>
            <div class="col-md-8">
              <div class="show-content">
                <%= Work.where(collection: @collection.name).count %>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-margin-top">
          <div class="col-lg-6">
            <div class="col-md-4">
              <div class="show-title">Descripción:</div>
            </div>
            <div class="col-md-8">
              <div class="show-content"><%= @collection.description %></div>
            </div>
          </div>
          <div class="col-lg-6">
          </div>
        </div>
        <div class="row row-margin-top-buttons">
          <div class="text-center">
            <%= link_to '<button type="button" class="btn btn-success">Editar</button>' .html_safe, edit_collection_path(@collection) %>
            <%= link_to '<button type="button" class="btn btn-danger">Eliminar</button>' .html_safe, @collection, method: :delete, data: { confirm: '¿Desea eliminar la colección?' } %>
          </div>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</div>
<%= link_to 'Regresar a Colecciones' .html_safe, collections_path, class: "return text-center center-block" %>
