<div class="wrapper">
  <%= form_with(model: restoration, local: true, :html => {:class => 'form-signin'}) do |form| %>
      <% if restoration.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(restoration.errors.count, "error") %> prohibited this restoration from being saved:</h2>

            <ul>
              <% restoration.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <div class="form-group">
          <%= form.label :obra %>
          <% options = options_from_collection_for_select(@works, 'name', 'name') %>
          <%= form.select :work,  options,  {}, :class => 'form-control selectpicker', 'data-live-search' => 'true' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :razón %>
        <%= form.text_field :reason, id: :restoration_reason, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= form.label :responsable %>
        <%= form.text_field :responsible, id: :restoration_responsible, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :desde %>
        <%= form.date_field :since, id: :restoration_since, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :hasta %>
        <%= form.date_field :until, id: :restoration_until, class: "form-control" %>
      </div>
      <div class="actions">
        <%= form.submit "Guardar", class: "btn btn-primary center-block"%>
      </div>
  <% end %>

  <%= link_to 'Regresar a Restauración' .html_safe, @restoration, class: "return text-center center-block" %>
</div>