<p id="notice"><%= notice %></p>

<div class="container">
  <h1 id="mainview">VISTA GENERAL - RESTAURACIONES
    <%= link_to '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe, new_restoration_path%>
  </h1>
</div>

<div class="container">
  <table id= "restorations" class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>ID</th>
      <th>Obra</th>
      <th>Razón</th>
      <th>Responsable</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @restorations.each do |restoration| %>
        <tr>
          <td><%= restoration.id %></td>
          <td><%= restoration.work %></td>
          <td><%= restoration.reason %></td>
          <td><%= restoration.responsible %></td>
          <td><%= restoration.since %></td>
          <td><%= restoration.until %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, restoration%>

            <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_restoration_path(restoration) %>

            <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, restoration, method: :delete, data: { confirm: '¿Desea eliminar la restauración?' }  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>

    $( document).ready(function() {
        $('#restorations').DataTable();
    } );
</script>