<p id="notice"><%= notice %></p>

<h1>Restorations</h1>

<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Responsible</th>
      <th>Since</th>
      <th>Until</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restorations.each do |restoration| %>
      <tr>
        <td><%= restoration.reason %></td>
        <td><%= restoration.responsible %></td>
        <td><%= restoration.since %></td>
        <td><%= restoration.until %></td>
        <td><%= link_to 'Show', restoration %></td>
        <td><%= link_to 'Edit', edit_restoration_path(restoration) %></td>
        <td><%= link_to 'Destroy', restoration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restoration', new_restoration_path %>
