<p id="notice"><%= notice %></p>

<div class="container">
  <h1 id="mainview">VISTA GENERAL - ALMACENES
    <%= link_to '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe, new_warehouse_path%>
  </h1>
</div>

<div class="container">
  <table id="warehouses" class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>ID</th>
      <th>Almacén</th>
      <th>Ubicación</th>
      <th>Descripción</th>
      <th>Total de Colecciones</th>
      <th>Total de Obras</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @warehouses.each do |warehouse| %>
        <tr>
          <td><%= warehouse.id %></td>
          <td><%= warehouse.name %></td>
          <td><%= warehouse.location %></td>
          <td><%= warehouse.description %></td>
          <td><%= Collection.where(warehouse: warehouse.name).count %></td>
          <td><%= Work.where(warehouse: warehouse.name).count %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, warehouse%>

            <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_warehouse_path(warehouse) %>

            <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, warehouse, method: :delete, data: { confirm: '¿Desea eliminar el almacén?' }  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
    $( document).ready(function() {
        $('#warehouses').DataTable();
    } );
</script>