<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @warehouse.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warehouse.description %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
