<div class="container">
  <div class="text-left">
    <h1 id="mainview"><%= @warehouse.name %>
    </h1>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-lg-6">
            <div class="col-md-5">
              <div class="show-title">Ubicación:</div>
            </div>
            <div class="col-md-7">
              <div class="show-content"><%= @warehouse.location %></div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="col-md-7">
              <div class="show-title">Total de Colecciones:</div>
            </div>
            <div class="col-md-5">
              <div class="show-content">
                <%= Collection.where(warehouse: @warehouse.name).count %>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-margin-top">
          <div class="col-lg-6">
            <div class="col-md-5">
              <div class="show-title">Descripción:</div>
            </div>
            <div class="col-md-7">
              <div class="show-content"><%= @warehouse.description %></div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="col-md-7">
              <div class="show-title">Total de Obras:</div>
            </div>
            <div class="col-md-5">
              <div class="show-content">
                <%= Work.where(warehouse: @warehouse.name).count %>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-margin-top-buttons">
          <div class="text-center">
            <%= link_to '<button type="button" class="btn btn-success">Editar</button>' .html_safe, edit_warehouse_path(@warehouse) %>
            <%= link_to '<button type="button" class="btn btn-danger">Eliminar</button>' .html_safe, @warehouse, method: :delete, data: { confirm: '¿Desea eliminar el almacén?' } %>
          </div>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</div>
<%= link_to 'Regresar a Almacenes' .html_safe, warehouses_path, class: "return text-center center-block" %>
